/*
	Monochromed by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		background: #090909;
	}

	body,input,textarea,select
	{
		font-family: 'Oxygen', sans-serif;
		font-size: 13pt;
		line-height: 2em;
	}
	
	h1.title
	{
		font-family: 'Oxygen', sans-serif;
		font-weight: normal;
		font-size:30px;
	}
	
	h1,h2,h3,h4,h5,h6
	{
		font-weight: bold;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			color: inherit;
			text-decoration: none;
		}
		
	/* Change this to whatever font weight/color pairing is most suitable */
	strong, b
	{
		font-weight: bold;
		color: #000000;
	}
	
	em, i
	{
		font-style: italic;
	}

	/* Don't forget to set this to something that matches the design */
	a
	{
		color: #ff0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1em;
	}

	header
	{
	}
	
		header h2
		{
			letter-spacing: -1px;
			font-weight: 700;
		}
	
		header .byline
		{
			display: block;
			text-transform: uppercase;
		}
		
	footer
	{
		margin-top: 1em;
	}

	br.clear
	{
		clear: both;
	}
	
	/* Buttons */
		
		.button
		{
			background: none;
			border:none;
			position: relative;
			display: inline-block;
			margin-top: 2em;
			padding: 0.8em 1.5em;
			background: #711112;
			border-radius: 6px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
		}
		
	.button_full
	{
		background: none;
			border:none;
			position: relative;
			display: inline-block;
			margin-top: 10px;
			padding: 0.8em 1.5em;
			background: #711112;
			border-radius: 6px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1em;
			color: #FFF;
			-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
			cursor: pointer;
			width: 100%;
	}
	
			.button:hover
			{
				background: #DFDAD4;
				color: #000 !important;
			}
			
			.button_full:hover
			{
				background: #DFDAD4;
				color: #000 !important;
			}
	

	/* Sections/Articles */
	
		section,
		article
		{
			margin-bottom: 3em;
		}
		
		section > :last-child,
		article > :last-child
		{
			margin-bottom: 0;
		}

		section:last-child,
		article:last-child
		{
			margin-bottom: 0;
		}

		.row > section,
		.row > article
		{
			margin-bottom: 0;
		}

	/* Images */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
				border-radius: 6px;
			}

			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}
			
			.image.full
			{
				display: block;
				width: 30%;
				margin: 0 0 2em 0;
			}
			
			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}

	/* Lists */

		ul.default
		{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
			ul.default li
			{
				padding: 0.50em 0em;
			}	
		
		ul.style1
		{
			font-size: 0.90em;
		}	

			ul.style1 li
			{
				padding: 0.80em 0em;
				line-height: 1.8em;
			}	

			ul.style1 li img
			{
				float: left;
				margin-right: 1.50em;
				border-radius: 6px;
			}
			
			ul.style1 .posted
			{
				display: block;
				margin-top: 1em;
				padding: 0.50em 0em;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		background: #ddd url(../images/banner5.jpg) no-repeat center;
		background-size: cover;
	}
	
	#logo img
	{
		transition: opacity 1s;
	}
	
	#logo img:hover
	{
		opacity:0.85;
	}
	
	#nav
	{
	}

		#nav ul
		{
			margin: 0;
		}
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		background: #333;
		color: #fff;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		height: 90%;
		position: relative;
		background: #fff url(images/overlay.png) repeat;
	}
	
	.divider
	{
		overflow: hidden;
		border-top: 1px solid #dbdbdb;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		position: relative;
		background: #121212;
		color: rgba(255,255,255,.4);
	}
	
	#footer header h2
	{
		color: #FFF;
	}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
	
	#copyright
	{
		position: inherit;
		padding: 3em 0em;
		text-align: center;
		color: rgba(255,255,255,.2);
	}
	
	#copyright .container
	{
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,.3);
	}		
	
	/*Rafael*/
	
	.boxed
	{
		position:relative;
		background-color: #fff;
		box-shadow: 5px 5px 5px #ccc;
		border-radius: 10px;
		padding: 10px;
		text-align: Justify;
		margin-top: 10px;
	}
	
	#upArquivo
	{
		position:relative;
		background-color: #fff;
		box-shadow: 5px 5px 5px #ccc;
		border-radius: 10px;
		padding: 10px;
		text-align: Justify;
		margin-top: 10px;
	}
	
	.arquivo > button
	{
		float:center;
	}
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: #fff;
		border-radius: 4px;
		border: none;
		border: solid 1px rgba(144, 144, 144, 0.25);
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #711112;
			box-shadow: 10 10 10 1px #711112;
		}
		
		#logedIn
		{
			position: absolute;
			font-size: 12px;
			background-color: #711112;
			border-radius: 25px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 3px;
			padding-bottom: 3px;
			top: 10px;
			right: 10px;
			z-index:9999;
			color: #999;
		}
		
		#logedIn a
		{
			text-decoration:none;
			color: #999;
		}
		
		#logedIn a:hover
		{
			transition-duration: 1s;
			text-decoration:underline;
			color: #fff;
		}
		
		.window
		{
			display:none;
			width:450px;
			position:fixed;
			left:0;
			top:0;
			background: #ffffff;
			z-index:9900;
			padding:30px;
			border-radius:10px;
		}

.window a
{
	text-decoration: none;
	color: #000;
}

#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}

.fechar{display:block; text-align:right; text-decoration:bold; font-size:20px;}
.fechar:hover{text-decoration:none; opacity:0.5; transition-duration:1s;}